form(name="addressForm" layout="column" layout-wrap novalidate)
  p(layout="row" layout-align="center center" translate="{{'p-' + name}}")
  div(layout="row" layout-wrap)
    md-input-container(flex="33")
      label(translate="label-country")
      md-select(ng-model="address.country" ng-disabled="disabled" required)
        md-option(ng-repeat="country in addressCtrl.countries") {{country}}
    md-input-container(flex="33")
      label(translate="label-city")
      md-select(ng-model="address.city" ng-disabled="disabled" required)
        md-option(ng-repeat="city in addressCtrl.cities") {{city}}
    md-input-container(flex="33")
      label(translate="label-post-code")
      input(ng-model="address.postcode" ng-disabled="disabled" required)
  div(layout="column" layout-wrap)
    md-input-container(flex="100")
      label(translate="label-address1")
      input(ng-model="address.address1" ng-disabled="disabled" required)
    md-input-container(flex="100")
      label(translate="label-address2")
      input(ng-model="address.address2" ng-disabled="disabled" required)
  div(layout="row" layout-wrap)
    md-input-container(flex="50")
      label(translate="label-firstname")
      input(ng-model="address.firstname" ng-disabled="disabled" required)
    md-input-container(flex="50")
      label(translate="label-lastname")
      input(ng-model="address.lastname" ng-disabled="disabled" required)
