div(layout="row" layout-align="center center" layout-wrap)
    div(layout="column" layout-align="center center" layout-wrap layout-margin layout-padding)
        ivst-show-log(ng-repeat="log in logsCtrl.logs track by $index" log="{{log}}")
