div(layout="column" layout-wrap)
  md-tabs(md-dynamic-height="true" md-selected="stateSwitcherCtrl.selected" md-center-tabs) 
    md-tab(ng-repeat="state in stateSwitcherCtrl.states" ng-click="stateSwitcherCtrl.switchState($index)")
      md-tab-label
        span(translate="{{'button-' + state}}")
