div(layout="row")
  md-button(ng-repeat="state in stateSwitcherCtrl.states" ng-click="stateSwitcherCtrl.switchState(state)" class="md-primary" ng-class="stateSwitcherCtrl.selected[$index] ? 'md-raised' : ''") {{"button-" + state | translate}}
