div(layout="{{stateSwitcherCtrl.lay}}" layout-align="center center")
  md-button(ng-repeat="state in stateSwitcherCtrl.states" ng-click="stateSwitcherCtrl.switchState(state)" class="md-primary" ng-class="stateSwitcherCtrl.selected[$index] ? 'md-raised' : ''") {{"button-" + state | translate}}
