div(layout="row" layout-align="center-center" layout-wrap layout-padding)
  ivo-file-container(
    ng-repeat="layer in ['top', 'bottom', 'outline']"
    layer="layer"
    order="order"
    remove="remove"
  )
