.text-top-left-bottom
  absolute top 0% left 0%
  rotateIt 0deg

.text-top-left-right
  absolute top 2% left -1%
  rotateIt 90deg

.text-top-left-top
  absolute top 0% left 1%
  rotateIt 180deg

.text-top-left-left
  absolute top 2% left -1%
  rotateIt 270deg

.text-top-right-bottom
  absolute top 0% right 1%
  rotateIt 0deg

.text-top-right-right
  absolute top 2% right -1%
  rotateIt 90deg

.text-top-right-top
  absolute top 0% right 1%
  rotateIt 180deg

.text-top-right-left
  absolute top 2% right -1%
  rotateIt 270deg

.text-top-center-bottom
  absolute top 0% left 45%
  rotateIt 0deg

.text-top-center-top
  absolute top 0% left 45%
  rotateIt 180deg

.text-bottom-left-bottom
  absolute bottom 0% left 0%
  rotateIt 0deg

.text-bottom-left-right
  absolute bottom 2% left -1%
  rotateIt 90deg

.text-bottom-left-top
  absolute bottom 0% left 1%
  rotateIt 180deg

.text-bottom-left-left
  absolute bottom 2% left -1%
  rotateIt 270deg

.text-bottom-right-bottom
  absolute bottom 0% right 1%
  rotateIt 0deg

.text-bottom-right-right
  absolute bottom 2% right -1%
  rotateIt 90deg

.text-bottom-right-top
  absolute bottom 0% right 1%
  rotateIt 180deg

.text-bottom-right-left
  absolute bottom 2% right -1%
  rotateIt 270deg

.text-bottom-center-bottom
  absolute bottom 0% left 45%
  rotateIt 0deg

.text-bottom-center-top
  absolute bottom 0% left 45%
  rotateIt 180deg

.text-center-left-right
  absolute top 45% left -2%
  rotateIt 90deg

.text-center-left-left
  absolute top 45% left -2%
  rotateIt 270deg

.text-center-right-right
  absolute top 43% right -2%
  rotateIt 90deg

.text-center-right-left
  absolute top 43% right -2%
  rotateIt 270deg