.text-top-left-0deg
  absolute top 0% left 0%
  rotateIt 0deg

.text-top-left-90deg
  absolute top 2% left -1%
  rotateIt 90deg

.text-top-left-180deg
  absolute top 0% left 1%
  rotateIt 180deg

.text-top-left-270deg
  absolute top 2% left -1%
  rotateIt 270deg

.text-top-right-0deg
  absolute top 0% right 1%
  rotateIt 0deg

.text-top-right-90deg
  absolute top 2% right -1%
  rotateIt 90deg

.text-top-right-180deg
  absolute top 0% right 1%
  rotateIt 180deg

.text-top-right-270deg
  absolute top 2% right -1%
  rotateIt 270deg

.text-top-center-0deg
  absolute top 0% left 45%
  rotateIt 0deg

.text-top-center-180deg
  absolute top 0% left 45%
  rotateIt 180deg
