.pcb-side {
  color: #fefcff;
}
.sque-side {
  color: #848482;
}
.stencil-text {
  font-size: 50%;
}
.stencil-view {
  background-color: #bcc6cc;
  border: solid;
  border-width: 1px;
  border-color: #000;
  -webkit-transform: rotate(-30deg) skewX(20deg);
  -moz-transform: rotate(-30deg) skewX(20deg);
  -o-transform: rotate(-30deg) skewX(20deg);
  -ms-transform: rotate(-30deg) skewX(20deg);
  transform: rotate(-30deg) skewX(20deg);
}
.stencil-outline {
  stroke-width: 3%;
}
.stencil-no-outline {
  stroke-width: 0;
}
.stencil-layout {
  border: solid;
  border-width: 5px;
}
.stencil-include {
  position: absolute;
  top: 20%;
  left: 5%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.text-top-left-x,
.text-top-left-0,
.text-top-left-180 {
  position: absolute;
  top: 0%;
  left: 0%;
}
.text-top-left-y,
.text-top-left-90,
.text-top-left-270 {
  position: absolute;
  top: 2%;
  left: 0%;
}
.text-top-left-0 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.text-top-left-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.text-top-left-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.text-top-left-270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
