@import 'nib'
@require 'colors'
@require 'mixins'
@require 'stencil-text'

.pcb-side
  color clr-pcb-side

.squeegee-side
  color clr-sque-side

.drilled
  color clr-drill

.stencil-text
  absolute
  font-size 50%

.stencil-view
  background-color clr-stencil
  border solid 1px clr-drill
  relative
  transform rotate(-30deg) skewX(20deg)
  width 160px
  height 220px

.stencil-outline
  stroke-width 3cm

.stencil-no-outline
  stroke-width 0

.stencil-layout
  border solid 1mm

.stencil-centered
  border none 0

.portrait-centered
  absolute top 23% left 15%
  rotateIt 0deg

.portrait-no
  absolute bottom 10% left 15%
  rotateIt 0deg

.landscape-centered
  absolute top 23%
  rotateIt 90deg

.landscape-no
  absolute bottom 3%
  rotateIt 90deg
