@import 'nib'
@require 'colors'
@require 'mixins'

.pcb-side
  color clr-pcb-side

.sque-side
  color clr-sque-side

.stencil-text
  absolute
  font-size 50%

.stencil-view
  background-color clr-stencil
  border solid 1px black
  relative
  transform rotate(-30deg) skewX(20deg)

.stencil-outline
  stroke-width 3%

.stencil-no-outline
  stroke-width 0

.stencil-layout
  border solid 5px

.stencil-include
  absolute top 20% left 5% //30% for layout 20% for centered
  transform rotate(0deg)
