div(layout="column" layout-align="center center" layout-fill)
  md-button(ng-click="x.reset()" class="md-primary" aria-label="new" translate="button-new-onfiguration")
  div(layout="row" layout-align="center center")
    md-input-container(flex="auto")
      label(translate="choose-configuration")
      md-select(ng-model="x.config" ng-change="x.choose()")
        md-option(ng-repeat="c in x.configs" ng-value="$index") {{c.name}}
    div(ng-if="x.settings" layout="row" layout-align="center center")
      md-button(ng-click="x.edit()" class="md-primary" translate="button-edit")
      md-button(ng-click="x.delete($event)" class="md-warn" translate="button-delete")
  div(ng-if="x.configuration" layout="column" layout-align="center center" layout-fill)
    ivo-stencil-preview(text="x.text" view="x.view")
    ivo-include(include="'configurationInfoView'" template="true")
