div(layout="column" layout-align="center center" layout-fill layout-margin layout-padding)
  div
  form(name="config" layout="column" layout-align="center center" novalidate)
    div(layout="row" layout-align="center center")
      md-input-container
        label(translate="label-stencil-type")
        md-select(ng-model="x.stencil.type")
          md-option(ng-value!="'smd-stencil'" translate="option-smd-stencil")
          md-option(ng-value!="'adhesive-stencil'" translate="option-adhesive-stencil")
      md-input-container
        label(translate="label-stencil-tickness")
        md-select(ng-model="x.stencil.tickness")
          md-option(ng-repeat="o in [100, 120, 127, 150, 180, 200]") {{o + " μm"}}         
      md-input-container
        label(translate="label-stencil-transitioning")
        md-select(ng-model="x.stencil.transitioning")
          md-option(ng-value!="'rectangular'" translate="option-rectangular")
          md-option(ng-value!="'glued-in-frame'" translate="option-glued-in-frame")
      md-input-container(ng-show="x.stencil.transitioning === 'glued-in-frame'")
        label(translate="label-stencil-frame-size")
        md-select(ng-model="x.stencil.size")
          md-option 750 x 750
          md-option(ng-value!="'custom'" translate="option-custom")
