md-toolbar(layout="row" layout-align="space-around center")
  div(layout="row" layout-align="space-between center")
    h1 IVAS-TECH
    md-button(class="md-raised md-warn") Stencils
    ivo-translate
  ivo-user
div(layout="row")
  md-button(ng-repeat="state in homeCtrl.states" ng-click="homeCtrl.switchState(state)" class="md-primary" ng-class="homeCtrl.selected[$index] ? 'md-raised' : ''") {{"button-" + state | translate}}
ui-view(layout-fill)
