div(layout="column" layout-align="space-between center")
  md-toolbar(layout="row" layout-align="space-around center" layout-sm="column" layout-align-sm="start center" layout-md="column" layout-align-md="start center")
    div(layout="row" layout-align="center center")
      h1(translate="firm-name")
      md-button(class="md-raised md-warn" aria-label="logo" translate="web-page")
    div(layout="row" layout-align="space-around center" layout-sm="column" layout-align-sm="center center")
      ivo-translate
      ivo-user
  div(layout="column" layout-align="center center" layout-margin layout-padding)
    ivo-state-switcher(state="home" menu="menu" flex-offset-sm="66")
    ui-view(layout-fill layout-margin layout-padding) 
