md-input-container(layout="column" layout-align="center center")
  br
  md-select(ng-model="translateCtrl.current" ng-change="translateCtrl.change(translateCtrl.current)" aria-label="change language")
    md-option(ng-repeat="language in translateCtrl.languages" ng-value="language" translate!="{{'option-language-' + language}}")
