md-input-container
  label(translate="label-change-language")
  md-select(ng-model="translateCtrl.current" ng-change="translateCtrl.change(translateCtrl.current)")
    md-option(ng-repeat="language in translateCtrl.languages" ng-value="language" translate!="{{'option-language-' + language}}")
