md-dialog(class="fullscreen-dialog" layout-fill)
    md-dialog-content(layout-fill)
        ivst-toolbar(ready="false" layout-wrap)
        div(layout="row" layout-align="center center" layout-fill)
            h1(class="md-primary" translate="h-loading")
            md-progress-circular(class="md-primary" md-mode="indeterminate" md-diameter="'80%'")