md-dialog
  md-dialog-content(class="md-dialog-content")
    div(class="md-actions" layout="row" layout-align="end start")
      md-button(ng-click="loginCtrl.hide('close')" class="md-warn" aria-label="close" translate="button-close")
    p(align="center" class="md-title" translate="button-login")
    form(name="login" novalidate)
      md-input-container
        label(translate="label-email")
        input(ng-model="loginCtrl.user.email" name="email" type="email" required)
        div(ng-messages="login.email.$error")
          div(ng-message="email")
            span(translate="error-email-email")
          div(ng-message="required" ng-if="loginCtrl.error")
            span(translate="error-email-required")
      md-input-container
        label(translate="label-password")
        input(ng-model="loginCtrl.user.password" name="password" type="password" ng-minlength="6" ng-maxlength="35" required)
        div(ng-messages="login.password.$error")
          div(ng-message="minlength")
            span(translate="error-password-minlength")
          div(ng-message="maxlength")
            span(translate="error-password-maxlength")
          div(ng-message="required" ng-if="loginCtrl.error")
            span(translate="error-password-required")
      md-switch(ng-model="loginCtrl.session" class="md-primary")
        md-button(translate="switch-stay-login")
      div(class="md-actions" layout="row" layout-sm="column" layout-align="center center")
        md-button(ng-click="loginCtrl.login(login.$invalid)" class="md-primary" aria-label="login" md-autofocus="true" translate="button-login")
