md-dialog
  md-dialog-content(class="md-dialog-content")
    div(class="md-actions" layout="row" layout-align="end start")
      md-button(ng-click="registerCtrl.hide('close')" aria-label="close" translate="button-close")
    p(align="center" class="md-title" translate="title-register")
    form(name="register" novalidate)
      md-input-container
        label(translate="label-email")
        input(ng-model="registerCtrl.user.email" name="email" type="email" required)
        div(ng-messages="register.email.$error")
          div(ng-message="email")
            span(translate="error-email-email")
          div(ng-message="required")
            span(translate="error-email-required")
          //div(ng-message="email" translate="error-email-email")
      md-input-container
        label(translate="label-password")
        input(ng-model="registerCtrl.user.password" name="password" type="password" ng-minlength="6" ng-maxlength="35" required)
        div(ng-messages="register.password.$error")
          div(ng-message="minlength")
            span(translate="error-password-minlength")
          div(ng-message="maxlength")
            span(translate="error-password-maxlength")
          div(ng-message="required")
            span(translate="error-password-required")
      md-input-container
        label(translate="label-repassword")
        input(ng-model="registerCtrl.repassword" name="repassword" type="password" ng-pattern="registerCtrl.user.password" required)
        div(ng-messages="register.repassword.$error")
          div(ng-message="pattern")
            span(translate="error-repassword-pattern")
          div(ng-message="required")
            span(translate="error-repassword-required")
      div(class="md-actions" layout="row" layout-sm="column" layout-align="center center")
        md-button(ng-click="registerCtrl.register()" aria-label="register" translate="button-register")
        md-button(ng-click="registerCtrl.hide('cancel')" aria-label="cancel" translate="button-cancel")
