div(layout="row" layout-align="center center")
  md-button(aria-label="login" translate="button-login")
  md-button(ng-click="userCtrl.register($event)" aria-label="register" translate="button-register")
