ivo-address(disabled="scopeCtrl.addressesDisabled" address="scopeCtrl.addressesObject.delivery" name="delivery")
div(ng-if="scopeCtrl.addressesAction !== 'preview'" layout="row" layout-align="center center")
  md-checkbox(ng-model="scopeCtrl.sameAsAbove" ng-click="scopeCtrl.fill('invoice', 'delivery')" class="md-primary" aria-label="as-above")
    p(translate="same-as-above")
md-divider
ivo-address(disabled="scopeCtrl.addressesDisabled" address="scopeCtrl.addressesObject.invoice" name="invoice")
div(ng-if="scopeCtrl.addressesAction !== 'preview'" layout="row" layout-align="center center")
  md-checkbox(ng-model="scopeCtrl.sameAsDelivery" ng-click="scopeCtrl.fill('firm', 'delivery')" class="md-primary" aria-label="as-delivery")
    p(translate="same-as-above")
  md-checkbox(ng-model="scopeCtrl.sameAsInvoice" ng-click="scopeCtrl.fill('firm', 'invoice')" class="md-primary" aria-label="as-invoice")
    p(translate="same-as-above")
md-divider
ivo-address(disabled="scopeCtrl.addressesDisabled" address="scopeCtrl.addressesObject.firm" name="firm")
md-divider
