div(layout="column" layout-align="center center" layout-wrap layout-padding layout-margin)
  div(layout="column" layout-fill layout-margin layout-padding)
    ivo-address(address="addressesCtrl.addresses.delivery" name="delivery")
    md-checkbox(ng-model="addressesCtrl.sameAsAbove" ng-click="addressesCtrl.fill('delivery', 'invoice')" class="md-primary" aria-label="as-above")
    ivo-address(address="addressesCtrl.addresses.invoice" name="invoice")
    div(layout="row" layout-align="start center")
      md-checkbox(ng-model="addressesCtrl.sameAsDelivery" ng-click="addressesCtrl.fill('delivery', 'firm')" class="md-primary" aria-label="as-delivery")
      md-checkbox(ng-model="addressesCtrl.sameAsInvoice" ng-click="addressesCtrl.fill('invoice', 'firm')" class="md-primary" aria-label="as-invoice")
    ivo-address(address="addressesCtrl.addresses.firm" name="firm")
  div(layout="row" layout-align="end end")
    md-button(ng-click="addressesCtrl.back()" class="md-warn" aria-label="back" translate="button-back")
    md-button(ng-click="addressesCtrl.next()" class="md-primary" aria-label="finish" translate="button-finish")
