ivst-address(disabled="scopeCtrl.addressesDisabled" address="scopeCtrl.addressesObject.delivery" name="delivery")
div(ng-if="scopeCtrl.addressesAction !== 'preview'" layout="row" layout-align="center center")
  md-checkbox(ng-model="scopeCtrl.same.above" ng-change="scopeCtrl.fill('invoice', 'delivery', 'above')" class="md-primary" aria-label="as-above")
    p(translate="same-as-above")
md-divider
ivst-address(disabled="scopeCtrl.addressesDisabled" address="scopeCtrl.addressesObject.invoice" name="invoice")
div(ng-if="scopeCtrl.addressesAction !== 'preview'" layout="row" layout-align="center center")
  md-checkbox(ng-model="scopeCtrl.same.delivery" ng-change="scopeCtrl.fill('firm', 'delivery', 'delivery')" class="md-primary" aria-label="as-delivery")
    p(translate="same-as-delivery")
  md-checkbox(ng-model="scopeCtrl.same.invoice" ng-change="scopeCtrl.fill('firm', 'invoice', 'invoice')" class="md-primary" aria-label="as-invoice")
    p(translate="same-as-invoice")
md-divider
ivst-address(disabled="scopeCtrl.addressesDisabled" address="scopeCtrl.addressesObject.firm" name="firm")