div(layout="column" layout-align="center center" layout-wrap layout-padding layout-margin)
  div(layout="column" layout-fill layout-margin layout-padding)
    ivo-address(address="addressesCtrl.addresses.delivery")
    ivo-address(address="addressesCtrl.addresses.invoice")
    ivo-address(address="addressesCtrl.addresses.firm")
  div(layout="row" layout-align="end end")
    md-button(ng-click="addressesCtrl.back()" class="md-warn" aria-label="back" translate="button-back")
    md-button(ng-click="" class="md-primary" aria-label="finish" translate="button-finish")
