div(layout="column" layout-align="center center" layout-wrap)
  ivst-view-order(order="orderCtrl" controller="'orderCtrl'")
  div(layout="row" layout-align="space-between center")
    md-button(ng-click="orderCtrl.back()" class="md-warn" aria-label="back" translate="button-back")
    md-button(ng-click="orderCtrl.makeOrder($event)" class="md-primary" aria-label="finish" translate="button-finish")
