div(layout="column" layout-align="space-between center" layout-margin layout-wrap)
  ivo-order-preview(order="order", controller="controller")
  ivo-files(files="order.files" remove="false")
  ivo-order-text(order="order")
  ivo-include(include="'configurationInfoView'" template="true" controller="controller")
