div(layout="row" layout-wrap layout-align="center center")
  ivst-stencil-preview(ng-repeat="layer in ['top', 'bottom']" ng-if="order[layer].view" text="order[layer].text" view="order[layer].view" controller="controller")