div(layout="column" layout-align="space-between strech" layout-margin layout-wrap)
  ivo-order-preview(order="order", controller="controller")
  ivo-files(files="order.files" remove="false")
  ivo-order-texts(order="order")
  ivo-config-info(controller="controller")
  ivo-address(disabled="order.disabled" address="order.addressesObject.delivery" name="delivery")
  ivo-address(disabled="order.disabled" address="order.addressesObject.invoice" name="invoice")
  ivo-address(disabled="order.disabled" address="order.addressesObject.firm"  name="firm")
