div(layout="column" layout-align="space-between center" layout-margin layout-wrap)
  ivo-order-preview(order="order", controller="controller")
  ivo-files(files="order.files" remove="false")
  ivo-order-text(order="order" layout-fill)
  ivo-config-info(controller="controller")
  div(layout="column" layout-align="center center" layout-wrap)
    ivo-address(disabled="order.disabled" address="order.information.delivery" value="order.information.delivery" name="delivery")
    ivo-address(disabled="order.disabled" address="order.information.invoice" value="order.information.invoice" name="invoice")
    ivo-address(disabled="order.disabled" address="order.information.firm" value="order.information.firm" name="firm")
