div(layout="column" layout-align="space-between strech" layout-margin layout-wrap)
  ivst-order-preview(order="order", controller="controller")
  md-divider
  ivst-price-field(field="'total'" price="order.price")
  md-divider
  ivst-files(order="order" remove="false")
  md-divider
  ivst-order-texts(order="order")
  md-divider
  ivst-config-info(controller="controller" disabled="true")
  md-divider
  ivst-order-specific(specific="order.specific" disabled="true")
  md-divider
  div(ng-repeat="address in ['delivery', 'invoice', 'firm']")
    ivst-address(disabled="true" address="order.addressesObject[address]" name="{{address}}")
    md-divider