form(name="stencil" layout="column" layout-align="center center" layout-wrap novalidate flex="auto")
  div(layout="row" layout-xs="column" layout-fill flex="auto")
    md-input-container(flex="auto")
      label(translate="label-stencil-tickness")
      md-select(ng-model="orderSpecificCtrl.specific.dimenstions.tickness" ng-disabled="orderSpecificCtrl.disabled" required)
        md-option(ng-repeat="option in [100, 120, 127, 150, 180, 200]" ng-value="option") {{option + " μm"}}  
    md-input-container(flex="auto")
      label(translate="label-stencil-height")
      input(type="number" ng-model="orderSpecificCtrl.specific.dimenstions.height" ng-disabled="orderSpecificCtrl.disabled" required)
    md-input-container(flex="auto")
      label(translate="label-stencil-width")
      input(type="number" ng-model="orderSpecificCtrl.specific.dimenstions.width" ng-disabled="orderSpecificCtrl.disabled" required)
    md-input-container(flex="auto")
      label(translate="label-fudical-marks-number")
      input(ng-model="orderSpecificCtrl.specific.fudicals" type="number" ng-disabled="orderSpecificCtrl.disabled" required)