<md-dialog ng-cloak>
  <md-dialog-content class='md-dialog-content'>
    <div class='md-actions' ng-hide='vm.error'>
      <md-button ng-click='vm.close("register")' class="md-primary">Register</md-button>
      <md-button app-disabled='true'></md-button>
      <md-button ng-click='vm.close()' class="md-warn">Close</md-button>
    </div>
    <p align='center' class='md-title'>Login</p>
    <div class='md-dialog-content-body'>
      <form novalidate name='login' ng-hide='vm.error'>
          <div layout-padding layout='column'>
              <md-input-container>
                  <input required type='email' ng-model='vm.login.email' name='email' placeholder='Email'/>
                  <div ng-messages='login.email.$error'>
                      <div ng-message='email'>Wrong Email</div>
                      <div ng-message='required' ng-if='vm.reqCheckLogin || login.email.$dirty'>Email is req</div>
                  </div>
              </md-input-container>
              <md-input-container>
                  <input required type='password' ng-model='vm.login.password' ng-minlength='6' ng-maxlength='35' name='pass' placeholder='Password'/>
                  <div ng-messages='login.pass.$error'>
                      <div ng-message='minlength'>Password lenght must be greater than 6 symbols</div>
                      <div ng-message='maxlength'>Password lenght must be less than 36 symbols</div>
                      <div ng-message='required' ng-if='vm.reqCheckLogin || login.pass.$dirty'>Password is req</div>
                  </div>
              </md-input-container>
              <md-switch class='md-primary' ng-model='vm.session'>
                <md-button app-disabled='true'>Stay logged in</md-button>
              </md-switch>
          </div>
          <div>
            <md-button ng-click='vm.doLogIn(login.$valid)' class='md-primary' aria-label='Login'>Login</md-button>
            <md-button class='md-warn' aria-label='Forgot password'>forgot password</md-button>
          </div>
      </form>
      <div ng-show='vm.error'>
        <p>{{vm.msg}}</p>
        <div class='md-actions'>
          <md-button ng-click='vm.close()' class='md-warn'>Cancel</md-button>
          <md-button ng-click='vm.error = false' class='md-primary' md-autofocus='true'>Try Again</md-button>
        </div>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
