<div>
  <div layout='column'>
    <div layout='column' layout-margin layout-padding>
        <md-button class='md-primary' app-disabled='true'>Stencil preveiw:</md-button>
        <div id='stencil' flex-offset='25' class='stencil-view'>
            <span ng-class='["stencil-text", vm.style.text.color, vm.style.text.position, vm.style.text.angle]'>Text</span>
            <ng-include src='"top"' id='gerber' class='stencil-include'/>
        </div>
    </div>
    <form name='config' layout='column'>
      <div layout='row' layout-align='center center'>
        <md-input-container>
          <label>Stencil type</label>
          <md-select ng-model='vm.stencil.type'>
            <md-option>SMD stencil</md-option>
            <md-option>Adhesive stencil</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Stencil tickness</label>
          <md-select ng-model='vm.stencil.tick'>
            <md-option ng-repeat='t in [100, 120, 127, 150, 180, 200]'>{{t + ' μm'}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Stencil transitioning</label>
          <md-select ng-model='vm.stencil.trans'>
            <md-option>Self-transitionig system</md-option>
            <md-option>Glued in frame</md-option>
          </md-select>
        </md-input-container>
        <md-input-container ng-show='vm.stencil.trans === "Glued in frame"'>
          <label>Stencil Frame size</label>
          <md-select ng-model='vm.stencil.size'>
            <md-option>750 x 750</md-option>
            <md-option>Custom</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout='row' layout-align='center center'>
        <md-input-container>
          <label>Fiducial marks</label>
          <md-select ng-model='vm.stencil.fudical.marks'>
            <md-option>Engraved</md-option>
            <md-option>Cut trough</md-option>
            <md-option>Black filling</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Fiducial marks side</label>
          <md-select ng-model='vm.stencil.fudical.side'>
            <md-option>PCB side</md-option>
            <md-option>Squeegee side</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout='row' layout-align='center center'>
        <md-input-container>
          <label>Text Position</label>
          <md-select ng-model='vm.stencil.text.position' ng-change='vm.changeTextPosition()'>
            <md-option ng-repeat='option in vm.options.textPosition'>{{option}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Text readable from</label>
          <md-select ng-model='vm.stencil.text.angle' ng-change='vm.changeTextAngle()'>
            <md-option ng-repeat='option in vm.options.textAngle' ng-value='option.value'>{{option.text}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Text type</label>
          <md-select ng-model='vm.stencil.text.type'>
            <md-option>Engraved</md-option>
            <md-option>Drilled</md-option>
          </md-select>
        </md-input-container>
        <md-input-container ng-show='vm.stencil.text.type === "Engraved"'>
          <label>Text side</label>
          <md-select ng-model='vm.stencil.text.side' ng-change='vm.changeTextSide()'>
            <md-option>PCB side</md-option>
            <md-option>Squeegee side</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout='row' layout-align='center center'>
        <md-input-container>
          <label>Aligment</label>
          <md-select ng-model='vm.stencil.position.align'>
            <md-option>Portrait</md-option>
            <md-option>Landscape</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Positioning</label>
          <md-select ng-model='vm.stencil.position.position' ng-change='vm.changeStencilPosition()'>
            <md-option>Layout centered</md-option>
            <md-option>PCB centered</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Side</label>
          <md-select ng-model='vm.stencil.position.side' ng-change='vm.changeStencilSide()'>
            <md-option>PCB side</md-option>
            <md-option>Squeegee side</md-option>
          </md-select>
        </md-input-container>
      </div>
      <md-input-container>
        <label>Configuration name</label>
        <input name='name' ng-model='vm.stencil.name' type='text'></input>
      </md-input-container>
      <md-button class='md-primary' ng-click='vm.doCreate(config.$valid)'>Create</md-button>
    </form>
  </div>
</div>
