<div ng-cloak>
    <form novalidate name='login'>
        <md-content layout-padding layout='row' layout-sm='column'>
            <md-input-container>
                <label>Email</label>
                <input required type='email' ng-model='vm.login.email' name='email' />
                <div ng-messages='login.email.$error'>
                    <div ng-message='email'>Wrong Email</div>
                    <div ng-message='required' ng-if='vm.reqCheckLogin || login.email.$dirty'>Email is req</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input required type='password' ng-model='vm.login.password' ng-minlength='6' ng-maxlength='35' name='pass' />
                <div ng-messages='login.pass.$error'>
                    <div ng-message='minlength'>Password lenght must be greater than 6 symbols</div>
                    <div ng-message='maxlength'>Password lenght must be less than 36 symbols</div>
                    <div ng-message='required' ng-if='vm.reqCheckLogin || login.pass.$dirty'>Password is req</div>
                </div>
            </md-input-container>
            <md-button ng-click='vm.doLogIn(login.$valid)' class='md-accent md-hue-3' aria-label='Login'>Login</md-button>
        </md-content>
        <div layout='row' layout-sm='column' layout-align='space-between center' app-float-right>
          <md-switch class='md-accent' ng-model='vm.session'>
            <md-button class='md-accent md-hue-2' app-disabled='true' app-color='vm.session'>Stay logged in</md-button>
          </md-switch>
          <md-button class='md-warn md-hue-2' aria-label='Forgot password'>forgot password</md-button>
        </div>
    </form>
</div>
