<div class='box' layout='column' layout-margin layout-padding>
    <md-toolbar layout-margin>Stencil preveiw:</md-toolbar>
    <div flex-offset='10' style='border: solid; border-style: ridge; border-color: white; border-width: 3px; -webkit-transform: rotate(-30deg)skewX(20deg); transform: rotate(-30deg)skewX(20deg); position: relative;'>
        <div style='position: absolute; font-size: 50%;'>Text</div>
        <img src='svg' style="width: 80%; height: 90%; position: absolute;"></img>
    </div>
</div>
