<div>
    <md-button class='md-warn' ngf-multiple='true' ngf-select='vm.fileUpload($files)'>Select files</md-button>
    <style>
        .dashed-border {
            border: solid;
            border-style: dashed;
            border-color: white;
            border-width: 3px;
        }
        .body {
            width: 400px;
            height: 300px;
        }
    </style>
    <div ngf-drop='vm.fileUpload($files)' ngf-multiple='true' class='body dashed-border' layout='column' layout-padding layout-align="space-around center">
        <div>Or Drag and Drop Files</div>
        <div ng-hide='vm.files.length > 0' layout='column' layout-padding layout-align="space-around center" class='dashed-border'>
            <div>Supported File formats are:</div>
            <div>Maximum number of files allowed is 6</div>
            <div>Maximum single file size allowed is 1GB</div>
        </div>
        <div ng-show='vm.files.length > 0'>
            <div>Selected files</div>
            <div>(Click a file to remove it)</div>
            <div class='dashed-border' layout='row' layout-wrap layout-padding layout-align="space-between center">
                <app-file ng-repeat='file in vm.files' name='{{file.name}}' ng-click='vm.removeFile($index)'></app-file>
            </div>
        </div>
    </div>
    <md-button ng-click='vm.view()'>View</md-button>
</div>
