<div layout-margin>
    <ngf-select ng-model='vm.files' ngf-multiple='true'>
        <md-button class='md-warn'>Select files</md-button>
    </ngf-select>
    <style>
        .dashed-border {
            border: solid;
            border-style: dashed;
            border-color: white;
            border-width: 3px;
        }
        .body {
            width: 400px;
            height: 300px;
        }
    </style>
    <ngf-drop ng-model='vm.files' ngf-multiple='true' class='body dashed-border' layout='column' layout-padding layout-align="space-around center">
        <div>Or Drag and Drop Files</div>
        <div ng-show='vm.files.length > 0' layout='column' layout-margin layout-padding layout-align="space-between center">
            <div>Selected files</div>
            <div>(Click a file to remove it)</div>
            <div class='dashed-border' layout='row' layout-wrap layout-padding layout-align="space-between center">
                <app-file ng-repeat='file in vm.files' name='{{file.name}}' ng-click='vm.removeFile($index)'></app-file>
            </div>
        </div>
    </ngf-drop>
    <md-button ng-click='vm.view()'>View</md-button>
</div>
