<div layout='column' layout-align='center center'>
  <div layout='column'>
    <div layout='column' layout-margin layout-padding>
        <md-button class='md-primary' app-disabled='true'>Stencil preveiw:</md-button>
        <div id='stencil' flex-offset='25' style='border: solid; border-style: ridge; border-color: white; border-width: 3px; -webkit-transform: rotate(-30deg)skewX(20deg); transform: rotate(-30deg)skewX(20deg); position: relative;'>
            <span style='position: absolute; font-size: 50%;'>Text</span>
            <ng-include src='"svg"' style="position: absolute; top : 30%; left : 20%;"></ng-include>
        </div>
    </div>
    <form name='config' layout='column'>
      <md-input-container>
        <md-select ng-model='vm.stencil.type' placeholder='Stencil type'>
          <md-option>SMD stencil</md-option>
          <md-option>Adhesive stencil</md-option>
        </md-select>
      </md-input-container>
      <md-button app-disabled='true'>Legend</md-button>
      <div layout='row'>
        <md-input-container>
          <md-select ng-model='vm.stencil.text.position' ng-change='vm.changeTextPosition()' placeholder='Text Position'>
            <md-option ng-repeat='option in vm.options.textPosition'>{{option}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <md-select ng-model='vm.stencil.text.angle' ng-change='vm.changeTextAngle()' placeholder='Text view angle'>
            <md-option ng-repeat='option in vm.options.textAngle' ng-value='option.value'>{{option.text}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <md-input-container>
        <input name='name' ng-model='vm.stencil.name' type='text' placeholder="Configuration name"></input>
      </md-input-container>
      <md-button class='md-primary'>Create</md-button>
    </form>
  </div>
</div>
