
<div class='box' layout='row' layout-margin layout-padding>
  Stencil preveiw:
  <div class='body' flex-offset='5'>
      	<style>
          .box {
            position: relative;
          }
    			.text {
    			 top :15%;
    			 left:30%;
           right : 30%;
    			  position: absolute;
    			  color: white;
            transform: rotate(90deg);
            font-size: 50%
    			}
    			.body {
            width : 150px;
    			  height : 200px;
            border : solid;
    			  border-style: ridge;
    			  border-color : white;
    			  border-width: 2px;
            -webkit-transform: rotate(-30deg)skewX(20deg);
            transform:  rotate(-30deg)skewX(20deg);
    			  position: relative;
    			}
    			.stencil {
    			  width : 80%;
    			  height : 90%;
    			  bottom : 3%;
    			  right : 10%;
    			  position: absolute;
    			}
      	</style>
        <div class='text'>
          Text
        </div>
        <img src='svg' class='stencil'></img>
  </div>
</div>
