<div class='box' layout='column' layout-margin layout-padding>
    <md-toolbar layout-margin>Stencil preveiw:</md-toolbar>
    <div class='body' flex-offset='10' style='border: solid; border-style: ridge; border-color: white; border-width: 3px; -webkit-transform: rotate(-30deg)skewX(20deg); transform: rotate(-30deg)skewX(20deg); position: relative;'>
        <style>
            .text {
                top: 15%;
                left: 30%;
                right: 30%;
                color: white;
                transform: rotate(90deg);
            }
            .body {
                width: 150px;
                height: 200px;
            }
            .stencil {
                bottom: 3%;
                right: 10%;
            }
        </style>
        <div class='text' style='position: absolute; font-size: 50%;'>Text</div>
        <img src='svg' class='stencil' style=" width: 80%; height: 90%; position: absolute;"></img>
    </div>
</div>
