<div class='body'>
    	<style>
			.text {
			 top :10%;
			 left:10%;
			  position: absolute;
			  color: white;
			}
			.body {
			  width : 270px;
			  height : 300px;
			  background-color: grey;
			  position: relative;

			}
			.stencil {
			  width : 60%;
			  height : 60%;
			  border : solid;
			  border-style: dotted;
			  border-color : white;
			  border-width: 1px;
			  bottom : 10%;
			  right : 10%;
			  position: absolute;
			}
			.c0{border:solid;position:absolute;border-color:white;border-width:1%;width:73%;height:74%;border-style:dotted;left:11%;}
			.c1{border:solid;position:absolute;border-color:white;border-width:2%;width:70%;height:60%;border-style:dotted;bottom:18%;}
			.c2{border:solid;position:absolute;border-color:white;border-width:3%;width:74%;height:64%;border-style:dashed;bottom:11%;}
			.c3{border:solid;position:absolute;border-color:white;border-width:1%;width:60%;height:54%;border-style:dotted;right:11%}
			.c4{border:solid;position:absolute;border-color:white;border-width:3%;width:71%;height:43%;border-style:dotted;right:13%}
			.c5{border:solid;position:absolute;border-color:white;border-width:1%;width:57%;height:59%;border-style:dotted;right:15%}
			.c6{border:solid;position:absolute;border-color:white;border-width:2%;width:43%;height:80%;border-style:dotted;top:16%;bottom:19%;}
			.c7{border:solid;position:absolute;border-color:white;border-width:2%;width:76%;height:72%;border-style:dashed;left:19%;}
			.c8{border:solid;position:absolute;border-color:white;border-width:2%;width:75%;height:76%;border-style:ridge;top:13%;left:14%;}
    	</style>
        <div class='text'>Text</div>
        <div class='stencil'>
            <div class='c6'></div>
            <div class='c9'>
                <div class='c1'></div>
            </div>
            <div class='c2'></div>
            <div class='c1'>
                <div class='c8'></div>
            </div>
            <div class='c0'></div>
            <div class='c8'>
                <div class='c6'>
                    <div class='c2'>
                        <div class='c9'></div>
                    </div>
                </div>
            </div>
            <div class='c7'></div>
            <div class='c2'>
                <div class='c1'></div>
            </div>
            <div class='c9'></div>
            <div class='c8'>
                <div class='c0'></div>
                <div class='c1'></div>
            </div>
            <div class='c6'>
                <div class='c9'>
                    <div class='c1'></div>
                </div>
            </div>
            <div class='c5'>
                <div class='c6'></div>
            </div>
            <div class='c2'></div>
            <div class='c1'>
                <div class='c8'>
                    <div class='c1'>
                        <div class='c2'></div>
                    </div>
                </div>
            </div>
            <div class='c9'></div>
            <div class='c7'>
                <div class='c6'></div>
            </div>
        </div>
    </div>
