<md-dialog ng-cloak>
  <md-dialog-content class='md-dialog-content'>
    <div class='md-actions'>
      <md-button ng-click='vm.close()' class="md-primary" app-float-right>X</md-button>
    </div>
    <p align='center' class='md-title'>Confirm action</p>
    <div class='md-dialog-content-body'>
      <form ng-hide='vm.error || vm.success' novalidate name="confirm">
        <md-input-container>
          <label>Password</label>
          <input required type='password' ng-model='vm.password' ng-minlength='6' ng-maxlength='35' name='pass' />
          <div ng-messages='confirm.pass.$error'>
              <div ng-message='minlength'>Password lenght must be greater than 6 symbols</div>
              <div ng-message='maxlength'>Password lenght must be less than 36 symbols</div>
              <div ng-message='required' ng-if='vm.reqCheck || confirm.pass.$dirty'>Password is req</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Re enter Password</label>
          <input required type='password' ng-model='vm.repassword' ng-pattern='vm.password' name='repass' />
          <div ng-messages='confirm.repass.$error'>
              <div ng-message='pattern'>Wrong rePass</div>
              <div ng-message='required' ng-if='vm.reqCheck || confirm.repass.$dirty'>Please re enter password</div>
          </div>
        </md-input-container>
        <div class='md-actions'>
          <md-button ng-click='vm.doConfirm(confirm.$valid)' class='md-warn' md-autofocus='true'>Confirm</md-button>
        </div>
      </form>
      <div ng-show='vm.error'>
        <p>Wrong Password please Try again!</p>
        <div class='md-actions'>
          <md-button ng-click='vm.close()' class='md-accent' md-autofocus='true'>Cancel</md-button>
          <md-button ng-click='vm.tryAgain()' class='md-warn' md-autofocus='true'>Try Again</md-button>
        </div>
      </div>
      <div ng-show='vm.success'>
        <p>{{vm.msg}}!</p>
        <div class='md-actions'>
          <md-button ng-click='vm.close()' class='md-primary' md-autofocus='true'>Ok</md-button>
        </div>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
