<md-toolbar style='display:inline-table' layout-padding layout='column'>
  <div app-float-left class='md-display-4'>IVAS-TECH</div>
  <app-log-in app-float-right></app-log-in>
</md-toolbar>
<div>
  <md-button ng-click='go("login.home")' class='md-accent md-raised'>Home</md-button>
  <md-button ng-click='go("login.about")' class='md-accent md-raised'>About Us</md-button>
  <md-button ng-click='go("login.tech")' class='md-accent md-raised'>Technologies</md-button>
  <md-button ng-click='go("login.contact")' class='md-accent md-raised'>Contact Us</md-button>
</div>
<ui-view></ui-view>
<app-register app-float-right></app-register>
