<form
	novalidate
	name = 'form'>

		<input
			required
			type = 'email'
			ng-model = 'vm.email'
			name = 'email'>
		</input><br>

		<div
			ng-messages = 'form.email.$error'>

				<div
					ng-message = 'email'>
						Wrong Email
				</div>

				<div
					ng-message = 'required'>
						Email is req
				</div>

		</div>

		<input
			required
			type = 'password'
			ng-model = 'vm.password'
			ng-minlength = '6'
			ng-maxlength = '35'
			name = 'password'>
		</input><br>

		<div
			ng-messages = 'form.password.$error'>

				<div
					ng-message = 'minlength'>
						Password lenght must be greater than 6 symbols
				</div>

				<div
					ng-message = 'maxlength'>
						Password lenght must be less than 36 symbols
				</div>

				<div
					ng-message = 'required'>
						Password is req
				</div>

		</div>

		<input
			required
			type = 'password'
			ng-model = 'vm.repassword'
			ng-pattern = 'vm.password'
			name = 'repassword'
			ng-focus = 'vm.repasswordBlur = false;'
			ng-blur = 'vm.repasswordBlur = true;'>
		</input><br>

		<div
			ng-messages = 'form.repassword.$error'>

				<div
					ng-if = 'vm.repasswordBlur'
					ng-message = 'pattern'>
						Wrong rePass
				</div>

				<div
					ng-message = 'required'>
						Please re enter password
				</div>

		</div>

	  <button
			ng-disabled = 'form.$invalid'
			ng-click = 'vm.register()'>
				Register
		</button><br>

</form>

<button
	ng-click = 'vm.back()'>
		Go Back
</button>

{{vm.res.$object.user}}
