<div ng-cloak class='md-display-1'>
  <md-toolbar align='center' class='md-accent'>Profile Settings</md-toolbar>
  <md-toolbar>Change password</md-toolbar>
  <div>
    <form novalidate name="newPass">
      <md-input-container>
        <label>New Password</label>
        <input required type='password' ng-model='vm.password' ng-minlength='6' ng-maxlength='35' name='pass' />
        <div ng-messages='newPass.pass.$error'>
            <div ng-message='minlength'>Password lenght must be greater than 6 symbols</div>
            <div ng-message='maxlength'>Password lenght must be less than 36 symbols</div>
        </div>
      </md-input-container>
      <md-button ng-click='vm.lunchConfirm($event, "password", vm.password)' aria-label='Change password' class='md-warn md-raised'>Change password</md-button>
    </form>
  </div>
  <md-toolbar>Change email</md-toolbar>
  <div>
    <form novalidate name="newEmail">
      <md-input-container>
          <label>New Email</label>
          <input required type='email' ng-model='vm.email' name='email' />
          <div ng-messages='newEmail.email.$error'>
              <div ng-message='email'>Wrong Email</div>
          </div>
      </md-input-container>
        <md-button ng-click='vm.lunchConfirm($event, "email", vm.email)' aria-label='Change email' class='md-warn md-raised'>Change email</md-button>
    </form>
  </div>
</div>
