<md-toolbar style='display:inline-table' layout='row' layout-align='space-between center'>
  <h1 app-float-left>IVAS-TECH</h1>
  <md-button class='md-raised md-warn' md-no-ink app-disabled>Stencils</md-button>
  <app-log-out ng-if='user' app-float-right></app-log-out>
  <app-log-in ng-if='!user' app-float-right></app-log-in>
</md-toolbar>

<div show-sm layout='column' hide-lg hide-gt-lg hide-gt-sm hide-md hide-gt-md>
  <md-button class='md-warn md-raised' ng-click='menu = !menu'>Menu</md-button>
  <md-button ng-show='menu' ng-repeat='btn in vm.btns' ng-click='vm.goToState(vm.click[$index]);' class='md-accent md-raised'>{{btn}}</md-button>
</div>
<div hide-sm layout='row'>
  <md-button ng-repeat='btn in vm.btns' ng-click='vm.goToState(vm.click[$index])' class='md-accent md-raised'>{{btn}}</md-button>
</div>
<md-divider></md-divider>
<ui-view ng-if='user'></ui-view>
<div ng-if='!user'>
  <ui-view app-float-left></ui-view>
  <app-register app-float-right layout-margin></app-register>
</div>
