<form
	novalidate
	name = 'form'>

		<input
			app-async-validator
			when = '{ exist : form.email.$valid }'
			for = '{ exist : vm.exist }'
			required
			type = 'email'
			ng-model = 'vm.user.email'
			name = 'email'>
		</input><br>

		<div
			app-error-msg
			use = 'form.email.$error as $e'
			error = '[$e.email, $e.required, $e.exist]'
			msg = '["Wrong Email", "Email is req", "Email already exists"]'>
		</div>

		<input
			required
			type = 'password'
			ng-model = 'vm.user.password'
			ng-minlength = '6'
			ng-maxlength = '35'
			name = 'password'>
		</input><br>

		<div
			app-error-msg
			use = 'form.password.$error as $e'
			error = '[$e.minlength, $e.maxlength, $e.required]'
			msg = '["Password lenght must be greater than 6 symbols", "Password lenght must be greater than 6 symbols", "Password is req"]'>
		</div>

		<input
			required
			type = 'password'
			ng-model = 'vm.repassword'
			ng-pattern = 'vm.user.password'
			name = 'repassword'
			ng-focus = 'vm.repasswordBlur = false;'
			ng-blur = 'vm.repasswordBlur = true;'>
		</input><br>

		<div
			app-error-msg
			use = 'form.repassword.$error as $e'
			error = '[$e.pattern && vm.repasswordBlur, $e.required]'
			msg = '["Wrong rePass", "Please re enter password"]'>
		</div>

	  <button
			ng-disabled = 'form.$invalid || form.$pending'
			ng-click = 'vm.register()'>
				Register
		</button><br>

</form>

<button
	ng-click = 'vm.back()'>
		Go Back
</button>
