
<md-content>
  <app-register></app-register>
  <app-log-in></app-log-in>
  <md-tabs class='md-accent' md-dynamic-height md-border-bottom md-border-top>
    <md-tab md-on-select='$location.path("/login")'>
      <md-tab-label>
        <md-button class='md-primary md-raised'>About</md-button>
      </md-tab-label>
      <md-tab-body>
        <br><br><br<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <md-button class='md-primary md-raised'>Contact</md-button>
      </md-tab-label>
      <md-tab-body>
        BBBBBB
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-content>
