<md-toolbar style='display:inline-table' layout='row' layout-align='space-between center'>
  <h1 app-float-left>IVAS-TECH</h1>
  <md-button class='md-raised md-warn' md-no-ink app-disabled='false'>Stencils</md-button>
  <app-log-out ng-if='user' app-float-right></app-log-out>
  <app-log-in ng-if='!user' app-float-right></app-log-in>
</md-toolbar>

<div layout='row' show-sm hide>
  <md-menu layout='column'>
    <md-button class='md-warn' ng-click='$mdOpenMenu($event)'>Menu</md-button>
    <md-menu-content>
      <md-menu-item ng-repeat='btn in vm.btns'>
        <md-button ng-click='vm.goToState(vm.click[$index]);' class='md-accent'>{{btn}}</md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
<div hide-sm layout='row'>
  <md-button ng-repeat='btn in vm.btns' ng-click='vm.goToState(vm.click[$index])' class='md-primary'>{{btn}}</md-button>
</div>
<md-divider></md-divider>
<ui-view layout-fill></ui-view>
