<div app-float-right layout='column' hide-sm>
  <md-button app-disabled class='md-warn'>Settings</md-button>
  <md-button class='md-primary' ng-click='vm.goToState("home.settings.profile")'>Profile</md-button>
  <md-button class='md-primary'>Configurations</md-button>
  <md-button class='md-primary'>Delivery</md-button>
</div>
<div app-float-right layout='row' show-sm hide>
  <md-menu layout='column'>
    <md-button class='md-primary md-hue-1' ng-click='$mdOpenMenu($event)'>Settings</md-button>
    <md-menu-content>
      <md-menu-item>
        <md-button class='md-warn' ng-click='vm.goToState("home.settings.profile")'>Profile</md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
<div layout='row' layout-align='center center'>
  <ui-view layout-padding layout-margin></ui-view>
</div>
