md-input-container(flex="auto")
  label(translate="{{textFieldCtrl.index === 0 ? textFieldCtrl.label : ''}}")
  input(ng-model="textFieldCtrl.text" ng-keydown="textFieldCtrl.action($event)" ng-disabled="textFieldCtrl.disabled")
