md-dialog
  md-dialog-content(class="md-dialog-content")
    md-dialog-actions(layout="row" layout-align="end start")
      md-button(ng-click="confirmCtrl.hide('close')" class="md-warn" aria-label="close" translate="button-close")
    p(align="center" class="md-title" translate="button-confirm")
    form(name="confirm" novalidate layout="column")
      md-input-container
        label(translate="label-password")
        input(ng-model="confirmCtrl.password" name="password" type="password" ng-minlength="6" ng-maxlength="35" required)
        div(ng-messages="confirm.password.$error")
          div(ng-message="minlength")
            span(translate="error-password-minlength")
          div(ng-message="maxlength")
            span(translate="error-password-maxlength")
          div(ng-message="required")
            span(translate="error-password-required")
      md-input-container
        label(translate="label-repassword")
        input(ng-model="confirmCtrl.repassword" name="repassword" type="password" ng-pattern="confirmCtrl.password" required)
        div(ng-messages="confirm.repassword.$error")
          div(ng-message="pattern")
            span(translate="error-repassword-pattern")
          div(ng-message="required")
            span(translate="error-repassword-required")
      md-dialog-actions(layout="row" layout-sm="column" layout-align="center center")
        md-button(
          ng-click="confirmCtrl.confirm(confirm.$valid)"
          class="md-primary" aria-label="confirm"
          md-autofocus="true"
          translate="button-confirm"
        )
        md-button(ng-click="confirmCtrl.hide('cancel')" class="md-warn" aria-label="cancel" translate="button-cancel")
