div(layout="column" layout-align="center center" layout-wrap flex="auto")
  div(layout="row" layout-xs="column" layout-fill flex="auto")
    md-input-container(flex="auto")
      label(translate="label-stencil-tickness")
      md-select(ng-model="specific.dimenstions.tickness" ng-disabled="disabled")
        md-option(ng-repeat="option in [100, 120, 127, 150, 180, 200]" ng-value="option") {{option + " μm"}}  
    md-input-container(flex="auto")
      label(translate="label-stencil-height")
      input(type="number" ng-model="specific.dimenstions.height" ng-disabled="disabled")
    md-input-container(flex="auto")
      label(translate="label-stencil-width")
      input(type="number" ng-model="specific.dimenstions.width" ng-disabled="disabled")
    md-input-container(flex="auto")
      label(translate="label-fudical-marks-number")
      input(ng-model="specific.fudicals" type="number" ng-disabled="disabled")
