div(layout="column" layout-wrap)
  md-input-container(ng-if="order.bottom.view" flex="100")
    label(translate="label-bottom-text")
    input(ng-model="order.bottom.text" ng-disabled="order.disabled" contentEditable="true")  
