div(layout="column" layout-align="center stretch" layout-wrap)
  div(layout="column" layout-align="center center" layout-wrap)
    ivo-stencil-preview(text="scopeCtrl.text" view="scopeCtrl.view" controller="scopeCtrl.controller")
  ivo-config-info(controller="scopeCtrl.controller" disabled="scopeCtrl.configurationDisabled")
