div(layout="column" layout-align="center stretch" layout-wrap)
  div(layout="column" layout-align="center center" layout-wrap)
    ivst-stencil-preview(text="scopeCtrl.text" view="scopeCtrl.view" controller="scopeCtrl.controller")
  ivst-config-info(controller="scopeCtrl.controller" disabled="scopeCtrl.configurationDisabled")
