div(layout="column" layout-align="center center" layout-wrap)
  div(ng-repeat="admin in adminsCtrl.listOfAdmins" layout="row" layout-align="space-between center")
    span(class="md-primary md-button fake-button") {{admin._id}}
    md-input-container
      label(translate="label-access")
      md-select(ng-model="admin.access" ng-change="adminsCtrl.changeAccess(admin)")
        md-option(
          ng-repeat="access in adminsCtrl.accessValues"
          ng-value="$index" 
          translate="{{'option-' + access}}"
        )
    md-button(ng-click="adminsCtrl.removeAdmin($event, admin)" class="md-warn md-raised" translate="button-delete")
