div(layout="column" layout-fill)
  md-input-container(ng-if="order.top.view" flex="auto")
    label(translate="label-top-text")
    input(ng-model="order.top.text")
  md-input-container(ng-if="order.bottom.view" flex="auto")
    label(translate="label-bottom-text")
    input(ng-model="order.bottom.text")  
