form(name="upload" novalidate layout="column" layout-align="space-between strech" layout-margin layout-wrap)  
  ivo-order-preview(order="specificCtrl", controller="'orderCtrl'")
  ivo-files(order="specificCtrl" remove="true")
  ivo-order-texts(order="specificCtrl")  
  div(layout="row" layout-align="center center")
    md-button(ng-click="specificCtrl.back()" class="md-warn" aria-label="back" translate="button-back")
    md-button(ng-click="specificCtrl.next()" class="md-primary" aria-label="next" translate="button-next")
