div(layout="row" layout-align="space-between center" layout-sm="column" layout-margin layout-padding)
  ivo-state-switcher(state="home.settings" lay="column" menu="settings")
  ui-view(layout-fill layout-margin layout-padding)
