<div ng-cloak class='md-display-1'>
  <md-toolbar align='center' class='md-warn md-display-1'><p>Register</p></md-toolbar>
  <div>
    <form novalidate name="register">
      <md-input-container>
        <label>Email</label>
        <input required type='email' ng-model='vm.register.email' name='email' app-async-validator='{ exist : vm.exist }' />
        <div ng-messages='register.email.$error'>
            <div ng-message='email'>Wrong Email</div>
            <div ng-message='required' ng-if='vm.reqCheckReg || register.email.$dirty'>Email is req</div>
            <div ng-message='exist'>This email is taken</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input required type='password' ng-model='vm.register.password' ng-minlength='6' ng-maxlength='35' name='pass' />
        <div ng-messages='register.pass.$error'>
            <div ng-message='minlength'>Password lenght must be greater than 6 symbols</div>
            <div ng-message='maxlength'>Password lenght must be less than 36 symbols</div>
            <div ng-message='required' ng-if='vm.reqCheckReg || register.pass.$dirty'>Password is req</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Re enter Password</label>
        <input required type='password' ng-model='vm.repassword' ng-pattern='vm.register.password' name='repass' />
        <div ng-messages='register.repass.$error'>
            <div ng-message='pattern'>Wrong rePass</div>
            <div ng-message='required' ng-if='vm.reqCheckReg || register.pass.$dirty'>Please re enter password</div>
        </div>
      </md-input-container>
      <md-button ng-click='vm.doRegister(register.$invalid || register.$pending)' aria-label='Register' class='md-warn md-raised'>Register</md-button>
    </form>
  </div>
</div>
